on:
  workflow_call:
    inputs:
      node_version:
        description: 'Node Version'
        required: true
        type: string
    secrets:
      GH_TOKEN:
        required: true

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node_version }}
          registry-url: 'https://registry.npmjs.org'
      - name: Build
        run: npm ci
      - name: Bump Version
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      - name: Publish Build
        run: npm publish --access public