name: Release

on:
  push:
    branches: [main]

jobs:
  install:
    name: Publish
    uses: ./.github/workflows/publish.yml
    permissions:
      id-token: write
      contents: read
    with:
      node_version: 24