name: Release

on:
  push:
    branches: [main]

jobs:
  release:
    name: Semantic Release
    uses: ./.github/workflows/publish.yml
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
    with:
      node_version: 24